.container {
  background-color: rgb(204, 224, 241);
  width: 1300px;
  height: 590px;
  overflow: auto;
  padding: 20px;
  margin: auto;
}
.chartleft {
  width: 500px;
  float: left;
  padding: 40px;
}
.chartright {
  width: 500px;
  float: right;
  padding: 40px;
}
